In [1]:
import pandas as pd
countries = pd.read_csv('data.csv')
countries.head()

,Country,AveragScore,SafetySecurity,PersonelFreedom,Governance,SocialCapital,InvestmentEnvironment,EnterpriseConditions,MarketAccessInfrastructure,EconomicQuality,LivingConditions,Health,Education,NaturalEnvironment
0,Denmark,84.55,92.59,94.09,89.45,82.56,82.42,79.64,78.79,76.81,95.77,81.07,87.48,73.94
1,Sweden,83.67,90.97,91.90,86.41,78.29,82.81,75.54,79.67,76.18,95.33,82.28,85.92,78.74
2,Norway,83.59,93.30,94.10,89.66,79.03,82.24,75.95,75.87,77.25,94.70,82.98,85.68,72.37
3,Finland,83.47,89.56,91.96,90.41,77.27,84.12,77.25,78.77,70.28,94.46,81.19,88.38,77.99
4,Switzerland,83.42,95.66,87.50,87.67,69.14,80.81,83.84,78.65,79.71,94.66,82.11,87.72,73.60

In [3]:
#Let's firstly check if there's any missing values and what are the types of each column's value
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Country                     167 non-null    object
 1   AveragScore                 167 non-null    float64
 2   SafetySecurity              167 non-null    float64
 3   PersonelFreedom             167 non-null    float64
 4   Governance                  167 non-null    float64
 5   SocialCapital               167 non-null    float64
 6   InvestmentEnvironment       167 non-null    float64
 7   EnterpriseConditions        167 non-null    float64
 8   MarketAccessInfrastructure  167 non-null    float64
 9   EconomicQuality             167 non-null    float64
 10  LivingConditions            167 non-null    float64
 11  Health                      167 non-null    float64
 12  Education                   167 non-null    float64
 13  NaturalEnvironment          167 non-null    float64
dtypes: float64(13), object(1)
memory usage: 18.4+ KB

In [37]:
#Let's add the missing 'e' in AveraScore column name
column_mapper = {'AveragScore': 'AverageScore'}
countries = countries.rename(mapper = column_mapper ,
            axis=1)

In [29]:
#Which countries rank the highest and lowest in overall?
countries.sort_values(by='AverageScore', ascending=False)

,Country,AverageScore,SafetySecurity,PersonelFreedom,Governance,SocialCapital,InvestmentEnvironment,EnterpriseConditions,MarketAccessInfrastructure,EconomicQuality,LivingConditions,Health,Education,NaturalEnvironment
0,Denmark,84.55,92.59,94.09,89.45,82.56,82.42,79.64,78.79,76.81,95.77,81.07,87.48,73.94
1,Sweden,83.67,90.97,91.90,86.41,78.29,82.81,75.54,79.67,76.18,95.33,82.28,85.92,78.74
2,Norway,83.59,93.30,94.10,89.66,79.03,82.24,75.95,75.87,77.25,94.70,82.98,85.68,72.37
3,Finland,83.47,89.56,91.96,90.41,77.27,84.12,77.25,78.77,70.28,94.46,81.19,88.38,77.99
4,Switzerland,83.42,95.66,87.50,87.67,69.14,80.81,83.84,78.65,79.71,94.66,82.11,87.72,73.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,Somalia,34.39,31.91,34.32,23.80,43.50,31.16,41.79,26.75,28.23,32.07,44.38,26.32,48.46
163,Afghanistan,34.18,20.93,31.02,29.47,31.17,30.25,42.01,29.67,33.75,39.74,50.91,27.11,44.11
164,Central African Republic,32.83,35.30,36.83,28.40,36.72,26.32,40.21,25.49,40.34,19.21,31.95,18.62,54.57
165,Yemen,32.65,22.60,25.30,18.20,38.44,22.76,33.12,30.93,28.81,41.58,57.45,28.12,44.49
166,South Sudan,30.40,16.54,26.98,22.16,36.10,33.34,37.52,32.89,32.30,21.99,35.69,18.99,50.35

In [45]:
#Which country is closest to the mean average score across all indicators?
countries['AverageScore'].describe()
#I will discover the country's name with the closest value to mean average. 
closest_avg_inferior = countries['AverageScore'] <= 58.06
countries[closest_avg_inferior]

,Country,AverageScore,SafetySecurity,PersonelFreedom,Governance,SocialCapital,InvestmentEnvironment,EnterpriseConditions,MarketAccessInfrastructure,EconomicQuality,LivingConditions,Health,Education,NaturalEnvironment
80,Colombia,58.01,36.59,57.92,46.92,58.09,58.38,52.16,59.26,50.01,73.18,77.78,63.33,62.46
81,Suriname,57.91,73.99,69.41,47.72,53.21,41.12,47.64,53.02,44.69,78.16,60.80,56.49,68.72
82,Botswana,57.83,72.10,66.64,61.46,49.88,58.73,56.22,52.51,56.28,59.67,59.07,54.50,46.93
83,Philippines,57.53,46.23,57.20,45.69,64.66,52.43,55.29,58.16,57.79,64.56,70.06,61.55,56.67
84,Ecuador,57.42,67.60,63.66,42.88,57.09,46.58,47.06,57.33,42.97,69.69,71.80,62.24,60.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,Somalia,34.39,31.91,34.32,23.80,43.50,31.16,41.79,26.75,28.23,32.07,44.38,26.32,48.46
163,Afghanistan,34.18,20.93,31.02,29.47,31.17,30.25,42.01,29.67,33.75,39.74,50.91,27.11,44.11
164,Central African Republic,32.83,35.30,36.83,28.40,36.72,26.32,40.21,25.49,40.34,19.21,31.95,18.62,54.57
165,Yemen,32.65,22.60,25.30,18.20,38.44,22.76,33.12,30.93,28.81,41.58,57.45,28.12,44.49
166,South Sudan,30.40,16.54,26.98,22.16,36.10,33.34,37.52,32.89,32.30,21.99,35.69,18.99,50.35

In [47]:
#I will discover the country's name with the closest value to mean average. 
closest_avg_above = countries['AverageScore'] >= 58.06
countries[closest_avg_above]

,Country,AverageScore,SafetySecurity,PersonelFreedom,Governance,SocialCapital,InvestmentEnvironment,EnterpriseConditions,MarketAccessInfrastructure,EconomicQuality,LivingConditions,Health,Education,NaturalEnvironment
0,Denmark,84.55,92.59,94.09,89.45,82.56,82.42,79.64,78.79,76.81,95.77,81.07,87.48,73.94
1,Sweden,83.67,90.97,91.90,86.41,78.29,82.81,75.54,79.67,76.18,95.33,82.28,85.92,78.74
2,Norway,83.59,93.30,94.10,89.66,79.03,82.24,75.95,75.87,77.25,94.70,82.98,85.68,72.37
3,Finland,83.47,89.56,91.96,90.41,77.27,84.12,77.25,78.77,70.28,94.46,81.19,88.38,77.99
4,Switzerland,83.42,95.66,87.50,87.67,69.14,80.81,83.84,78.65,79.71,94.66,82.11,87.72,73.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Paraguay,58.56,73.55,61.38,43.14,62.51,49.04,47.04,54.04,50.06,76.09,70.84,52.10,62.89
76,Russia,58.50,51.57,34.38,41.05,58.79,51.09,51.15,62.96,62.86,78.50,71.38,81.87,56.42
77,Belarus,58.40,71.08,32.64,35.77,45.87,45.57,47.25,57.77,60.83,86.26,74.34,81.24,62.12
78,Saudi Arabia,58.35,66.15,20.87,47.72,51.98,59.79,62.64,64.22,57.77,77.87,75.34,67.77,48.12
79,Cabo Verde,58.34,81.78,72.66,61.12,53.31,43.88,50.68,43.98,41.07,69.14,72.75,53.96,55.78

In [ ]:
#We can conclude that Colombia has the closest average score to the mean average between all countries.

In [69]:
#Which countries have the highest and lowest SafetySecurity scores?
countries.sort_values(by ='SafetySecurity',ascending=False)
#Highest: Luxembourg \ Lowest: South Sudan
#It is possible to notice that the countries with the highest average score tend to have a Safety/Security score even higher while the opposite happens with countrie's with the lowest scores

,Country,AverageScore,SafetySecurity,PersonelFreedom,Governance,SocialCapital,InvestmentEnvironment,EnterpriseConditions,MarketAccessInfrastructure,EconomicQuality,LivingConditions,Health,Education,NaturalEnvironment
6,Luxembourg,81.83,96.32,89.20,86.31,66.60,78.91,80.72,80.03,76.93,94.56,81.59,78.79,71.98
4,Switzerland,83.42,95.66,87.50,87.67,69.14,80.81,83.84,78.65,79.71,94.66,82.11,87.72,73.60
2,Norway,83.59,93.30,94.10,89.66,79.03,82.24,75.95,75.87,77.25,94.70,82.98,85.68,72.37
19,Taiwan,77.36,92.96,79.23,77.68,60.42,78.60,79.66,71.15,73.86,90.22,83.37,84.61,56.57
15,Japan,78.22,92.78,79.14,79.67,43.82,83.10,80.11,79.32,66.35,92.86,86.50,84.93,70.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,Iraq,44.66,26.94,38.01,35.85,44.50,39.68,41.19,47.56,44.83,73.61,64.62,45.44,33.67
158,Syria,36.83,23.11,16.16,21.27,23.01,35.47,32.13,35.11,36.35,66.86,67.16,43.01,42.29
165,Yemen,32.65,22.60,25.30,18.20,38.44,22.76,33.12,30.93,28.81,41.58,57.45,28.12,44.49
163,Afghanistan,34.18,20.93,31.02,29.47,31.17,30.25,42.01,29.67,33.75,39.74,50.91,27.11,44.11
166,South Sudan,30.40,16.54,26.98,22.16,36.10,33.34,37.52,32.89,32.30,21.99,35.69,18.99,50.35

In [77]:
#Which regions or countries excel in PersonalFreedom, and which lag behind?
countries.sort_values(by='PersonelFreedom',ascending=False)

#Highest:Norway \ Lowest: Sytya

,Country,AverageScore,SafetySecurity,PersonelFreedom,Governance,SocialCapital,InvestmentEnvironment,EnterpriseConditions,MarketAccessInfrastructure,EconomicQuality,LivingConditions,Health,Education,NaturalEnvironment
2,Norway,83.59,93.30,94.10,89.66,79.03,82.24,75.95,75.87,77.25,94.70,82.98,85.68,72.37
0,Denmark,84.55,92.59,94.09,89.45,82.56,82.42,79.64,78.79,76.81,95.77,81.07,87.48,73.94
3,Finland,83.47,89.56,91.96,90.41,77.27,84.12,77.25,78.77,70.28,94.46,81.19,88.38,77.99
1,Sweden,83.67,90.97,91.90,86.41,78.29,82.81,75.54,79.67,76.18,95.33,82.28,85.92,78.74
5,Netherlands,82.32,91.19,90.08,87.34,74.03,84.11,79.09,80.82,74.34,95.86,82.05,86.43,62.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,Saudi Arabia,58.35,66.15,20.87,47.72,51.98,59.79,62.64,64.22,57.77,77.87,75.34,67.77,48.12
142,Myanmar,43.66,36.85,20.70,33.81,58.60,27.13,41.14,44.34,38.29,52.94,66.74,47.83,55.54
125,Iran,47.71,55.57,17.09,31.83,48.96,39.30,32.60,50.34,38.93,76.11,74.93,63.75,43.11
159,Eritrea,36.02,52.06,16.77,22.59,36.90,35.06,39.87,28.83,32.83,30.78,57.49,29.23,49.86
158,Syria,36.83,23.11,16.16,21.27,23.01,35.47,32.13,35.11,36.35,66.86,67.16,43.01,42.29

In [81]:
#Is there a relationship between PersonalFreedom and Governance scores?
column_mapper = {'PersonelFreedom': 'PersonalFreedom'}
countries = countries.rename(mapper = column_mapper ,
            axis=1)
countries.sort_values(by='Governance',ascending=False)
#there is a clear link between a governance score and personal freedom

,Country,AverageScore,SafetySecurity,PersonalFreedom,Governance,SocialCapital,InvestmentEnvironment,EnterpriseConditions,MarketAccessInfrastructure,EconomicQuality,LivingConditions,Health,Education,NaturalEnvironment
3,Finland,83.47,89.56,91.96,90.41,77.27,84.12,77.25,78.77,70.28,94.46,81.19,88.38,77.99
2,Norway,83.59,93.30,94.10,89.66,79.03,82.24,75.95,75.87,77.25,94.70,82.98,85.68,72.37
0,Denmark,84.55,92.59,94.09,89.45,82.56,82.42,79.64,78.79,76.81,95.77,81.07,87.48,73.94
4,Switzerland,83.42,95.66,87.50,87.67,69.14,80.81,83.84,78.65,79.71,94.66,82.11,87.72,73.60
5,Netherlands,82.32,91.19,90.08,87.34,74.03,84.11,79.09,80.82,74.34,95.86,82.05,86.43,62.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,Eritrea,36.02,52.06,16.77,22.59,36.90,35.06,39.87,28.83,32.83,30.78,57.49,29.23,49.86
166,South Sudan,30.40,16.54,26.98,22.16,36.10,33.34,37.52,32.89,32.30,21.99,35.69,18.99,50.35
158,Syria,36.83,23.11,16.16,21.27,23.01,35.47,32.13,35.11,36.35,66.86,67.16,43.01,42.29
165,Yemen,32.65,22.60,25.30,18.20,38.44,22.76,33.12,30.93,28.81,41.58,57.45,28.12,44.49
144,Venezuela,43.60,40.45,36.63,13.09,58.30,21.69,20.50,43.34,26.44,69.82,69.61,61.10,62.22